<%- include("./partials/header"); %>

<h1>Dyna Shopper</h1>

<form action="/?_method=PUT" method="POST">
  <input type="text" name="item" id="item" placeholder="Enter a new item">
  <input type="submit" value="Submit">
</form>

<% list.forEach((list) => { %>
  <form action="/list?_method=DELETE" method="POST">
    <h3><%= list.name %></h3>
    <button type="submit" value="<%= list.name %>">Delete Group</button>
  </form>
  
  
  <ul class="item-group">
  <% list.items.forEach((item) => { %>
    <form method="POST" action="/item?_method=PUT">
      <li><input type="checkbox" onchange="this.form.submit()" name="item" id="item" value="<%=item%>"><%=item%></li>
    </form>
  <% }); %>
  </ul> 
<% }); %>

<%- include("./partials/footer"); %>